/* ==================================================
   INLINE TITLE
================================================== */

.center-inline-title .inline-title {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 20px;
    transition: all calc(var(--animation-duration) * 0.6667) ease;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.left-inline-title .inline-title {
    position: relative;
    text-align: left;
    display: inline-block;
    padding: 20px;
    transition: all calc(var(--animation-duration) * 0.6667) ease;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.right-inline-title .inline-title {
    position: relative;
    text-align: right;
    display: inline-block;
    padding: 20px;
    transition: all calc(var(--animation-duration) * 0.6667) ease;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.special-inline-title .inline-title {
    text-align: center;
    position: relative;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    transition: 0.3s all ease;
    color: var(--h3-color);
    text-transform: none !important;
}

.special-inline-title .inline-title::before,
.special-inline-title .inline-title::after {
    content: "";
    flex-grow: 1;
    height: 3px;
    background-color: var(--interactive-accent);

    /* background-color: #cf5915; */
    margin: 0;

    /* opacity: 0.8; */
    border-radius: 0;
    transition: all 0.3s ease;
}

.special-wide-inline-title .inline-title {
    text-align: center;
    position: relative;
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    transition: 0.3s all ease;
    color: var(--h3-color);
    text-transform: none !important;
}

.special-wide-inline-title .inline-title::before,
.special-wide-inline-title .inline-title::after {
    content: "";
    flex-grow: 1;
    height: 30px;
    background-color: var(--interactive-accent);
    margin: 0;
    border-radius: 0;
    transition: all 0.3s ease;
}

