/* tab full width */
body.tab-full-width .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner { 
    flex: 90%;
    width: 90%;
    min-width: 90%;
}

/* option: disable ribbon border */
.workspace-ribbon {
    border: 0px solid transparent !important;
    box-shadow: none;
}



/* option: disable tabs underborder */









/* .sidebar-toggle-button.mod-left,
.sidebar-dock-ribbon.mod-left.is-collapsed::before {
    margin: 20px 0px;
    box-shadow: 0px 0px 0px 2px springgreen !important;
} */


/* @settings
name: blobob theme!
id: h-test
collapsed: false
settings:


- id: tiptips
  title: Global Radius
  description: Set the border radius for all UI Elements
  type: class-select
  default: hexagon-tiptip
  options:
    - label: Circular
      value: circular-tiptip
    - label: Rounded
      value: rounded-tiptip
    - label: Round
      value: round-tiptip
    - label: Sharp
      value: sharp-tiptip
    - label: Hexagon
      value: hexagon-tiptip
    - label: Scoop
      value: scoop-tiptip
    - label: Squircle
      value: squircle-tiptip
    - label: Extra Squircle
      value: extra-squircle-tiptip
    - label: Sock
      value: sock-tiptip
    - label: Eye
      value: eye-tiptip

- id: workspace-layout
  title: Layout & Tab Style
  description: Set the workspace layout for desktop
  type: class-select
  default: tab-float
  options:
    - label: Joined
      value: tab-joined
    - label: Floating
      value: tab-float
    - label: Underlined
      value: tab-lined
    - label: Contained
      value: tab-contained
    - label: None
      value: tab-none

- id: workspace-density
  title: Workspace Density
  description: 
  type: class-select
  default: spacious
  options:
    - label: Compact
      value: compact
    - label: Comfortable
      value: comfortable
    - label: Spacious
      value: spacious

- id: bb-border-width
  title: Border Width
  type: variable-number-slider
  format: px
  default: 3
  min: 0
  max: 10
  step: 0.5

- id: bb-header-height
  title: Default Header Height
  type: variable-number-slider
  format: px
  default: 40
  min: 25
  max: 100
  step: 1




- id: h-dark-theme
  title: Dark Theme
  type: heading
  level: 1
  collapsed: false

- id: dark-theme-colors
  title: Dark Theme Color
  description: Set the theme colors for dark mode
  type: class-select
  default: cool-gray
  options:

  # Neutral
  - label: NEUTRAL
    value: heading-neutral
  - label: Obsidian
    value: obsidian
  - label: Amoled
    value: amoled
  - label: Cool Gray
    value: cool-gray
  - label: Neutral Gray
    value: neutral-gray
  - label: Warm Gray
    value: warm-gray

  # Blue
  - label: COOL TONES
    value: heading-blue
  - label: Arctic Ice
    value: arctic-ice
  - label: Noble Blue
    value: noble-blue
  - label: Cold Memory
    value: cold-memory
  - label: Slate Smoke
    value: slate-smoke
  - label: Deep Blue
    value: deep-blue
  - label: Dark Night
    value: dark-night

  # Purple
  - label: PURPLE
    value: heading-purple
  - label: Deep Purple
    value: deep-purple
  - label: Violet Dream
    value: violet-dream
  - label: Magic Purple
    value: magic-purply
  - label: Nocturne
    value: nocturne
  - label: Lavendar
    value: lavendar

  # Green
  - label: GREEN
    value: heading-green
  - label: Emerald
    value: midnight-emerald
  - label: Muted Green
    value: muted-green
  - label: More Olives
    value: more-olives
  - label: Greenwood
    value: greenwood
  - label: Viridian Regalia
    value: viridian-regalia
  - label: Deep Green
    value: forest-green
  - label: Lime
    value: dark-lime
  - label: Green Road
    value: green-road

  # Red / Pink
  - label: REDS & PINKS
    value: heading-red
  - label: Rose Gold
    value: rose-gold
  - label: Crimson Twilight
    value: crimson-twilight
  - label: Wine
    value: wine
  - label: Deep Hotpink
    value: deep-hotpink
  - label: Deep Magenta
    value: deep-magenta
  - label: Deep Red
    value: deep-red
  - label: Mafia Red
    value: mafia-red
  - label: Red Forest
    value: red-forest

  # Brown / Warm
  - label: WARM TONES
    value: heading-warm
  - label: Urban
    value: urban
  - label: Citrine
    value: citrine
  - label: Golden Earth
    value: golden-earth
  - label: Golden Hour
    value: golden-hour
  - label: Caramel
    value: caramel
  - label: Chocolate
    value: chocolate
  - label: Dark Chocolate
    value: dark-chocolate
  - label: Comfort Chocolate
    value: comfort-choco
  - label: Tasty Chocolate
    value: tasty-chocolate
  - label: Tasty Chocolate 2
    value: tasty-chocolate-2
  - label: Leather
    value: leather
  - label: Velvet Maroon
    value: velvet

- id: dark-workspace-colors
  title: Dark Theme – Color Switcher
  description: Choose how editor/workspace colors are mapped in dark mode
  type: class-select
  default: dark-wc-default
  options:
    - label: Default
      value: dark-wc-default
    - label: Flipped
      value: dark-wc-flipped
    - label: Same as Editor
      value: dark-wc-only-editor
    - label: Same as Workspace
      value: dark-wc-only-workspace

- id: dark-theme-border
  title: Dark Theme – Border Colour
  description:
  type: class-select
  default: dark-border-color-hover
  options:
    - label: No border
      value: dark-border-color-none
    - label: Faded border
      value: dark-border-color-less
    - label: Bright Border
      value: dark-border-color-hover
    - label: Brightest Border
      value: dark-border-color-focus
    - label: Accented Border
      value: dark-border-color-accent
    - label: Accented Border 1
      value: dark-border-color-accent-1
    - label: Accented Border 2
      value: dark-border-color-accent-2
    - label: Lightly Accented Border
      value: dark-border-color-accent-light

- id: h-light-theme
  title: Light Theme
  type: heading
  level: 1
  collapsed: false

- id: light-theme-colors
  title: Light Theme Color
  description: Set the theme colors for light mode
  type: class-select
  default: cloud-white
  options:

  # Light Neutrals
  - label: NEUTRALS
    value: heading-lights
    disabled: true
  - label: Cloud White
    value: cloud-white
  - label: Paper White
    value: paper-white
  - label: Light Gray
    value: light-gray
  - label: 50% Gray
    value: gray

  # Reds
  - label: REDS
    value: heading-red
    disabled: true
  - label: Blood
    value: blood

  # Warm / Creamy
  - label: WARM TONES
    value: heading-warm
    disabled: true
  - label: Sand
    value: soft-sand
  - label: Cream
    value: cream
  - label: Cream Blue
    value: cream-blue
  - label: Payesh
    value: payesh
  - label: Choco Milk
    value: choco

  # Peach / Yellow
  - label: YELLOW
    value: heading-yellow
    disabled: true
  - label: Chicken
    value: chicken
  - label: Yellow
    value: yellow
  - label: Peach
    value: peach
  - label: Joy
    value: joy

  # Greens
  - label: GREENS & EARTHY
    value: heading-green
    disabled: true
  - label: Yellow Teeth
    value: yellow-teeth
  - label: Disgust
    value: disgust
  - label: Olive
    value: olive
  - label: Herb
    value: herb
  - label: Green
    value: green
  - label: Jade
    value: jade


  # Blues / Cool Tones
  - label: COOL TONES
    value: heading-blue
    disabled: true
  - label: Cyan
    value: cyan
  - label: Blue
    value: blue
  - label: Azure
    value: azure
  - label: Toothpaste
    value: toothpaste
  - label: Corporate
    value: corporate

  # Purples / Pinks
  - label: PURPLES & PINKS
    value: heading-purple
    disabled: true
  - label: Purple
    value: purple
  - label: Pink
    value: pink
  - label: Rose
    value: rose
  - label: Brinjal
    value: brinjal

  # Specials
  - label: SPECIAL
    value: heading-pink
  - label: Delta
    value: delta




- id: light-workspace-colors
  title: Light Theme – Color Switcher
  description: Choose how editor/workspace colors are mapped in light mode
  type: class-select
  default: light-wc-default
  options:
    - label: Default
      value: light-wc-default
    - label: Flipped
      value: light-wc-flipped
    - label: Same as Editor
      value: light-wc-only-editor
    - label: Same as Workspace
      value: light-wc-only-workspace

- id: light-theme-border
  title: Light Theme – Border Colour
  description:
  type: class-select
  default: light-border-color-hover
  options:
    - label: No border
      value: light-border-color-none
    - label: Faded border
      value: light-border-color-less
    - label: Dark Border
      value: light-border-color-hover
    - label: Darkest Border
      value: light-border-color-focus
    - label: Accented Border
      value: light-border-color-accent
    - label: Accented Border 1
      value: light-border-color-accent-1
    - label: Accented Border 2
      value: light-border-color-accent-2
    - label: Lightly Accented Border
      value: light-border-color-accent-light

- id: h-workspace
  title: Other?
  type: heading
  level: 1
  collapsed: false



*/

/* Slider: Border Width */
body {
  --border-width: var(--bb-border-width);
  --tab-outline-width: var(--border-width);
  --divider-width: var(--border-width);
  --prompt-border-width: var(--border-width);
  --menu-border-width: var(--border-width);
  --status-bar-border-width: var(--border-width);
}

/* Slider: Header Height */
body {
  --header-height: var(--bb-header-height) !important;
}

body {
  --system-status-background: var(--titlebar-background);
}

/* disable divider */
/* body {
    --divider-color: transparent !important;
} */

/* ribbon colors */


/* titlebar: make tab header border show */
.titlebar, .titlebar-button-container, .sidebar-toggle-button.mod-right {
    background-color: transparent !important;
    background: transparent;
}


/* ribbon color for all layouts except float */
body:not(.tab-float) {
  .workspace-ribbon, .sidebar-toggle-button {
      background-color: var(--bb-workspace-bg);
      transition: background-color 0.1s ease;
  }
  .workspace-ribbon.side-dock-ribbon.mod-left .sidebar-toggle-button {
      height: var(--header-height);
      border-bottom: var(--border-width) solid var(--border-color);
  }
}

/* border colours */
body {
  --setting-items-border-color: var(--border-color);
  --modal-border-color: var(--border-color);
  --prompt-border-color: var(--border-color);
  --metadata-border-color: var(--border-color);
  --menu-border-color: var(--border-color);
  --code-border-color: var(--border-color);
  --bases-table-border-color: var(--border-color);
}




/* .tab-linewrap {
    --border-width: 0px;
    --tab-curve: 14px;

    .workspace-tab-header-inner {
        border-radius: 12px;
        corner-shape: round;
        padding: 0px 8px;
    }

    .workspace-tab-header {
        box-shadow: none !important;
        border-radius: 12px;
        corner-shape: round;
        padding: 0px 6px;
    }


    .mod-root .workspace-tab-container {
        --background-primary: var(--bb-elements-bg);
        border-radius: 20px !important;
    }


} */


/* filters? */
/* .workspace-leaf {
    transform: skew(-0.03turn, 0deg);
} */







/* cute rounded */
/* body.tab-test {
    --border-width: 0px;
    --divider-width: 2px;
    --tab-curve: 0px;

    .mod-root .workspace-tab-header .workspace-tab-header-inner {
        overflow: visible !important;
    }
    .workspace-tab-header-container::before,
    .workspace-tab-header-container::after {
        display: none;
    }

    --border-width: 0px;
    --tab-curve: 14px;

    .workspace-tab-header-inner {
        border-radius: 12px;
        corner-shape: round;
        padding: 0px 8px;
    }

    .workspace-tab-header {
        box-shadow: none !important;
        border-radius: 12px;
        corner-shape: round;
        padding: 0px 6px;
    }


    .mod-root .workspace-tab-container {
        --background-primary: var(--bb-elements-bg);
        border-radius: 20px !important;
    }
} */


/* completely sharp */
/* body.tab-test {
    --border-width: 0;
    --tab-curve: 0;
    --tab-radius: 0px;

    .workspace-tab-header, .workspace-tab-header-inner {
        corner-shape: round;
        border-radius: 0px;
        padding: 0px 12px;
    }
} */


body.tab-linewrap {
    --border-width: 0px;
    --divider-width: 2px;
    --tab-curve: 0px;

    /* prevent clipping */
    .mod-root .workspace-tab-header .workspace-tab-header-inner {
        overflow: visible !important;
    }
    .workspace-tab-header-container::before,
    .workspace-tab-header-container::after {
        display: none;
    }

    .mod-root .workspace-tab-header {
        border-right: 2px solid var(--border-color);
        border-radius: 0px;
        transform: translateY(0) scale(1);
        transition: all 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
        overflow: visible;
        position: relative;
        z-index: 2;
    }

    .mod-root .workspace-tab-header:hover {
        border-right: 2px solid var(--border-color);
        border-radius: 0px;
        transform: translateY(4px) scale(1.02);
    }

    .mod-root .workspace-tab-header:active {
        border-right: 2px solid var(--border-color);
        border-radius: 0px;
        transform: translateY(8px) scale(0.96);
    }

    .mod-root .workspace-tab-header.is-active:hover {
        border-right: 2px solid var(--border-color);
        padding: 0px 10px;
        transform: translateY(-4px) scale(1.02);
    }

    .mod-root .workspace-tab-header.is-active {
        border-right: 2px solid var(--border-color);
        padding: 0px 10px;
        transform: translateY(0) scale(1);
        z-index: 3;
    }
}

body.tab-simplejoined {
    .mod-root .workspace-tab-header .workspace-tab-header-inner {
        overflow: visible !important;
    }
    .workspace-tab-header-container::before,
    .workspace-tab-header-container::after {
        display: none;
    }

    --tab-curve: calc(var(--tab-radius) * .7);

    .workspace-tab-header-inner {
        border-radius: var(--tab-inner-radius);
        corner-shape: var(--tab-corner-shape);
        padding: 0px 8px;
    }

    .workspace-tab-header {
        border-radius: var(--tab-radius);
        corner-shape: var(--tab-corner-shape);

        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;

        padding: 0px 6px;
    }

    .workspace-tab-header.is-active {
        border-radius: var(--tab-radius);
        corner-shape: var(--tab-corner-shape);
    }

    .mod-root .workspace-tab-container {
        --background-primary: var(--bb-elements-bg);
    }


    /* tab animation */
    .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
        transform: scale(0.9);
        transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.4, 1);
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
        transform: scale(1);
    }
    .workspace-tab-header:not(.is-active):active .workspace-tab-header-inner {
        transform: scale(0.95);
    }
    .workspace-tab-header.is-active {
        transform: scale(1) translateY(0.2px);
        transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.4, 1);
    }
    .workspace-tab-header.is-active:hover {
        transform: scale(1.05) translateY(0.5px);
    }
}

body.tab-simple {
    --tab-curve: 0px;
    .workspace-tab-header {
        border-radius: var(--tab-radius);
    }
    .workspace-tab-header.is-active {
        border-radius: var(--tab-radius);
        margin-bottom: 3px;
    }

    .mod-root .workspace-tab-header .workspace-tab-header-inner {
        overflow: visible !important;
    }
    .workspace-tab-header-container::before,
    .workspace-tab-header-container::after {
        display: none;
    }

    .workspace-tab-header-inner {
        border-radius: var(--tab-radius);
        corner-shape: var(--tab-corner-shape);
        padding: 0px 8px;
    }

    .workspace-tab-header {
        border-radius: var(--tab-radius);
        corner-shape: var(--tab-corner-shape);
        padding: 0px 6px;
    }

    .workspace-tab-header.is-active {
        border-radius: var(--tab-radius);
        corner-shape: var(--tab-corner-shape);
    }

    .mod-root .workspace-tab-container {
        --background-primary: var(--bb-elements-bg);
    }


    /* tab animation */
    .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
        transform: scale(0.9);
        transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.4, 1);
    }
    .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner {
        transform: scale(1);
    }
    .workspace-tab-header:not(.is-active):active .workspace-tab-header-inner {
        transform: scale(0.95);
    }
    .workspace-tab-header.is-active {
        transform: scale(1) translateY(0.2px);
        transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.4, 1);
    }
    .workspace-tab-header.is-active:hover {
        transform: scale(1.05) translateY(0.5px);
    }
}

body.tab-contained {
    --tab-curve: 0px;

    .workspace-tab-header {
        border-radius: var(--tab-radius);
        transition: all 0.2s ease;
    }
    .workspace-tab-header.is-active {
        border-radius: var(--tab-radius);
        padding: 0px;
        margin-bottom: 0px;
    }
    .workspace-tab-header-inner {
        background-color: transparent !important;
        border-radius: var(--tab-radius);
    }

    .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
        background-color: transparent !important;
        border-radius: var(--tab-radius);
        transform: translateY(2px);
    }

    .workspace-tab-header:not(.is-active) {
        background-color: transparent;
    }
    .workspace-tab-header:not(.is-active):hover {
        background-color: var(--bb-elements-bg);
    }
    .workspace-tab-header.is-active {
        background-color: var(--bb-workspace-bg);
        min-width: calc(var(--tab-width) * 1.1) !important;
        transition: all 0.3s cubic-bezier(0.2, 0.9, 0.4, 1.1), background-color 0s ease;
    }

    /* the container */
    .workspace-tab-header-container-inner {
        background-color: var(--bb-editor-bg);
        border-radius: calc(var(--tab-radius) + 2px);
        corner-shape: var(--tab-corner-shape);
        padding: 4px;
        margin-bottom: 4px;
        gap: 4px;
    }

}


body.tab-hardshadow {
    --tab-curve: 0;
    
    .workspace-tab-header-container-inner {
        gap: 6px;
    }

    .workspace-tab-header .workspace-tab-header-inner {
        background: transparent !important;
    }

    .workspace-tab-header {
        margin-bottom: 6px;

        transition: all 0.2s ease;
        border-radius: var(--tab-radius);
    }

    .workspace-tab-header:not(.is-active) {
        transform: translateY(2px);
        border: 2px solid transparent;
        box-shadow: 3px 0px 0 var(--bb-border-hover-color);
    }

    .workspace-tab-header:not(.is-active):hover {
        /* transform: translateY(1px); */
        border: 2px solid var(--bb-border-hover-color);
        /* box-shadow: 3px 2px 0 var(--bb-border-hover-color); */
    }

    .workspace-tab-header:not(.is-active):active {
        transform: translateY(4px);
        border: 2px solid var(--bb-border-focused-color);
        box-shadow: 3px -1px 0 1px var(--bb-border-focused-color);
    }

    .workspace-tab-header.is-active {
        border: 2px solid var(--bb-border-focused-color);
        box-shadow: 3px 3px 0 var(--bb-border-focused-color);
    }

    .workspace-tab-container {
        box-shadow: none;
    }
}



/* Skew */
.tab-effect-skew .workspace-tab-header {
    transform: skew(-0.03turn, 0deg);
}

/* retro! */
body.tab-effect-boxglow {
    
    .workspace-tab-header-container-inner {
        gap: 6px;
    }

    .workspace-tab-header .workspace-tab-header-inner {
        background: transparent !important;
    }

    .workspace-tab-header {
        /* margin: 4px 0px; */
        transition: all 0.2s ease;
    }

    .workspace-tab-header:hover {
        box-shadow:
            inset -2px -2px 0 var(--bb-border-hover-color),
            1px 1px 0 0px var(--bb-border-color),
            2px 2px 2px rgba(0, 0, 0, 0.15) !important;
        border: 1px solid var(--bb-border-color);
    }

    .workspace-tab-header:not(.is-active):active {
        box-shadow:
            inset -3px -3px 0 0 var(--bb-border-hover-color),
            inset 3px 3px 0 0 var(--bb-border-color) !important;
            border: 2px solid var(--bb-border-focused-color);
    }

    .workspace-tab-header.is-active {
        box-shadow:
            inset -2px -2px 0 0 var(--bb-border-hover-color),
            inset 2px 2px 0 0 var(--bb-border-color) !important;
            border: 2px solid var(--bb-border-focused-color);
    }

    .workspace-tab-container {
            box-shadow:
            inset -2px -2px 0 0 var(--bb-border-hover-color),
            inset 2px 2px 0 0 var(--bb-border-color) !important;
    }
}