/* tab full width */
body.tab-full-width .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner { 
    flex: 90%;
    width: 90%;
    min-width: 90%;
}

/* option: disable ribbon border */
.workspace-ribbon {
    border: 0px solid transparent !important;
    box-shadow: none;
}

/* option: Diable Ribbon Sidebar Border */
.workspace-ribbon::before {
    border: 0px solid transparent !important;
    box-shadow: none;
}

/* option: disable tabs underborder */









/* .sidebar-toggle-button.mod-left,
.sidebar-dock-ribbon.mod-left.is-collapsed::before {
    margin: 20px 0px;
    box-shadow: 0px 0px 0px 2px springgreen !important;
} */


