/* tab full width */
body.tab-full-width .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header-container-inner { 
    flex: 90%;
    width: 90%;
    min-width: 90%;
}

/* option: disable ribbon border */
.workspace-ribbon {
    border: 0px solid transparent !important;
    box-shadow: none;
}


/* @settings
name: blobob theme!
id: h-test
collapsed: false
settings:

- id: tiptips
  title: Global Radius
  description: Set the border radius for all UI Elements
  type: class-select
  default: hexagon-tiptip
  options:
    - label: Circular
      value: circular-tiptip
    - label: Rounded
      value: rounded-tiptip
    - label: Round
      value: round-tiptip
    - label: Sharp
      value: sharp-tiptip
    - label: Hexagon
      value: hexagon-tiptip
    - label: Scoop
      value: scoop-tiptip
    - label: Squircle
      value: squircle-tiptip
    - label: Extra Squircle
      value: extra-squircle-tiptip
    - label: Sock
      value: sock-tiptip
    - label: Eye
      value: eye-tiptip

### Theme Settings
- id: h-dark-theme
  title: ☾ Dark Theme
  type: heading
  level: 3
  collapsed: true

- id: dark-theme-colors
  title: ☾ Dark Theme Color
  description: Set the theme colors for dark mode
  type: class-select
  default: cool-gray
  options:

  # Neutral
  - label: NEUTRAL
    value: heading-neutral
  - label: Obsidian
    value: obsidian
  - label: Amoled
    value: amoled
  - label: Cool Gray
    value: cool-gray
  - label: Neutral Gray
    value: neutral-gray
  - label: Warm Gray
    value: warm-gray

  # Blue
  - label: COOL TONES
    value: heading-blue
  - label: Arctic Ice
    value: arctic-ice
  - label: Noble Blue
    value: noble-blue
  - label: Cold Memory
    value: cold-memory
  - label: Slate Smoke
    value: slate-smoke
  - label: Deep Blue
    value: deep-blue
  - label: Dark Night
    value: dark-night

  # Purple
  - label: PURPLE
    value: heading-purple
  - label: Deep Purple
    value: deep-purple
  - label: Violet Dream
    value: violet-dream
  - label: Magic Purple
    value: magic-purply
  - label: Nocturne
    value: nocturne
  - label: Lavendar
    value: lavendar

  # Green
  - label: GREEN
    value: heading-green
  - label: Emerald
    value: midnight-emerald
  - label: Muted Green
    value: muted-green
  - label: More Olives
    value: more-olives
  - label: Greenwood
    value: greenwood
  - label: Viridian Regalia
    value: viridian-regalia
  - label: Deep Green
    value: forest-green
  - label: Lime
    value: dark-lime
  - label: Green Road
    value: green-road

  # Red / Pink
  - label: REDS & PINKS
    value: heading-red
  - label: Rose Gold
    value: rose-gold
  - label: Crimson Twilight
    value: crimson-twilight
  - label: Wine
    value: wine
  - label: Deep Hotpink
    value: deep-hotpink
  - label: Deep Magenta
    value: deep-magenta
  - label: Deep Red
    value: deep-red
  - label: Mafia Red
    value: mafia-red
  - label: Red Forest
    value: red-forest

  # Brown / Warm
  - label: WARM TONES
    value: heading-warm
  - label: Urban
    value: urban
  - label: Citrine
    value: citrine
  - label: Golden Earth
    value: golden-earth
  - label: Golden Hour
    value: golden-hour
  - label: Caramel
    value: caramel
  - label: Chocolate
    value: chocolate
  - label: Dark Chocolate
    value: dark-chocolate
  - label: Comfort Chocolate
    value: comfort-choco
  - label: Tasty Chocolate
    value: tasty-chocolate
  - label: Tasty Chocolate 2
    value: tasty-chocolate-2
  - label: Leather
    value: leather
  - label: Velvet Maroon
    value: velvet

- id: dark-workspace-colors
  title: ☾ Dark Theme – Color Switcher
  description: Choose how editor/workspace colors are mapped in dark mode
  type: class-select
  default: dark-wc-default
  options:
    - label: Default
      value: dark-wc-default
    - label: Flipped
      value: dark-wc-flipped
    - label: Same as Editor
      value: dark-wc-only-editor
    - label: Same as Workspace
      value: dark-wc-only-workspace

- id: dark-theme-border
  title: ☾┃ Dark Theme – Border Colour
  description:
  type: class-select
  default: dark-border-color-hover
  options:
    - label: No border
      value: dark-border-color-none
    - label: Faded border
      value: dark-border-color-less
    - label: Bright Border
      value: dark-border-color-hover
    - label: Brightest Border
      value: dark-border-color-focus
    - label: Accented Border
      value: dark-border-color-accent
    - label: Accented Border 1
      value: dark-border-color-accent-1
    - label: Accented Border 2
      value: dark-border-color-accent-2
    - label: Lightly Accented Border
      value: dark-border-color-accent-light

- id: h-light-theme
  title: ☀︎ Light Theme
  type: heading
  level: 3
  collapsed: true

- id: light-theme-colors
  title: ☀︎ Light Theme Color
  description: Set the theme colors for light mode
  type: class-select
  default: cloud-white
  options:

  # Light Neutrals
  - label: NEUTRALS
    value: heading-lights
    disabled: true
  - label: Cloud White
    value: cloud-white
  - label: Paper White
    value: paper-white
  - label: Light Gray
    value: light-gray
  - label: 50% Gray
    value: gray

  # Reds
  - label: REDS
    value: heading-red
    disabled: true
  - label: Blood
    value: blood

  # Warm / Creamy
  - label: WARM TONES
    value: heading-warm
    disabled: true
  - label: Sand
    value: soft-sand
  - label: Cream
    value: cream
  - label: Cream Blue
    value: cream-blue
  - label: Payesh
    value: payesh
  - label: Choco Milk
    value: choco

  # Peach / Yellow
  - label: YELLOW
    value: heading-yellow
    disabled: true
  - label: Chicken
    value: chicken
  - label: Yellow
    value: yellow
  - label: Peach
    value: peach
  - label: Joy
    value: joy

  # Greens
  - label: GREENS & EARTHY
    value: heading-green
    disabled: true
  - label: Yellow Teeth
    value: yellow-teeth
  - label: Disgust
    value: disgust
  - label: Olive
    value: olive
  - label: Herb
    value: herb
  - label: Green
    value: green
  - label: Jade
    value: jade


  # Blues / Cool Tones
  - label: COOL TONES
    value: heading-blue
    disabled: true
  - label: Cyan
    value: cyan
  - label: Blue
    value: blue
  - label: Azure
    value: azure
  - label: Toothpaste
    value: toothpaste
  - label: Corporate
    value: corporate

  # Purples / Pinks
  - label: PURPLES & PINKS
    value: heading-purple
    disabled: true
  - label: Purple
    value: purple
  - label: Pink
    value: pink
  - label: Rose
    value: rose
  - label: Brinjal
    value: brinjal

  # Specials
  - label: SPECIAL
    value: heading-pink
  - label: Delta
    value: delta


- id: light-workspace-colors
  title: ☀︎ Light Theme – Color Switcher
  description: Choose how editor/workspace colors are mapped in light mode
  type: class-select
  default: light-wc-default
  options:
    - label: Default
      value: light-wc-default
    - label: Flipped
      value: light-wc-flipped
    - label: Same as Editor
      value: light-wc-only-editor
    - label: Same as Workspace
      value: light-wc-only-workspace

- id: light-theme-border
  title: ☀︎┃ Light Theme – Border Colour
  description:
  type: class-select
  default: light-border-color-hover
  options:
    - label: No border
      value: light-border-color-none
    - label: Faded border
      value: light-border-color-less
    - label: Dark Border
      value: light-border-color-hover
    - label: Darkest Border
      value: light-border-color-focus
    - label: Accented Border
      value: light-border-color-accent
    - label: Accented Border 1
      value: light-border-color-accent-1
    - label: Accented Border 2
      value: light-border-color-accent-2
    - label: Lightly Accented Border
      value: light-border-color-accent-light


### Tab Settings
- id: h-tabs
  title: Desktop / Tablet - Tab Settings
  type: heading
  level: 1
  collapsed: false

- id: workspace-layout
  title: Workspace Layout & Tab Style
  description: Set the workspace layout for desktop
  type: class-select
  default: tab-joined
  options:
    - label: Obsidian Default
      value: tab-none
    - label: Joined
      value: tab-joined
    - label: Floating
      value: tab-float
    - label: Simple
      value: tab-simple
    - label: Simple Joined
      value: tab-simplejoined

    - label: Contained
      value: tab-contained
    - label: HardShadow
      value: tab-hardshadow

    - label: Defined Radius
      value: heading-pink
    - label: Underlined
      value: tab-lined
    - label: LineWrap
      value: tab-linewrap

    - label: Test
      value: tab-test

- id: apply-to-sidebar
  title: Apply Tab Style to Sidebar Tabs
  description: Apply the tab styling to sidebar tabs
  type: class-toggle
  default: true
  addCommand: false

- id: bb-border-width
  title: ┃ - Workspace Border Width
  type: variable-number-slider
  format: px
  default: 2
  min: 0
  max: 10
  step: 0.25

- id: h-tab-visual
  title: Tab Visual
  type: heading
  level: 2
  collapsed: true

- id: center-tab-title
  title: ☰ - Tab Title Alignment
  description: 
  type: class-select
  default: center-active-tab-title
  options:
  - label: Default
    value: none
  - label: Center ACTIVE Tab Titles
    value: center-active-tab-title
  - label: Center ALL Tab Titles
    value: center-all-tab-title

- id: workspace-tab-backgrounds
  title: Tab Background
  description: 
  type: class-select
  default: tab-bg-wavy
  options:
    - label: None
      value: tab-bg-none
    - label: Wavy
      value: tab-bg-wavy
    - label: Horizontal Lines
      value: tab-bg-hor

    - label: Vertical Lines
      value: tab-bg-vert2
    - label: Vertical Lines Thick
      value: tab-bg-vert1

    - label: Diagonal
      value: tab-bg-diagonal
    - label: Diamond Checker
      value: tab-bg-diamond
    - label: Checker
      value: tab-bg-checker
    - label: Dots
      value: tab-bg-dots
    - label: Triangless
      value: tab-bg-triangle
    - label: Hearts
      value: tab-bg-hearts
    - label: Stars
      value: tab-bg-stars
    - label: 4-pointed Stars
      value: tab-bg-sparkles

- id: workspace-tab-effects
  title: Tab Effect
  description: 
  type: class-select
  default: tab-effect-none
  options:
    - label: None
      value: tab-effect-none
    - label: Skew
      value: tab-effect-skew
    - label: Box Glow
      value: tab-effect-boxglow
    - label: Sticker
      value: tab-effect-sticker
    - label: Neon
      value: tab-effect-neon
    - label: Glowing
      value: tab-effect-glowing
    - label: Aboveline
      value: tab-effect-aboveline
    - label: Underline
      value: tab-effect-underline
    - label: Glass
      value: tab-effect-glass

- id: workspace-density
  title: ⬚ - Workspace Density
  description: 
  type: class-select
  default: spacious
  options:
    - label: Compact
      value: compact
    - label: Comfortable
      value: comfortable
    - label: Spacious
      value: spacious




- id: h-tab-adj
  title: ✦ Tab Adjustments
  type: heading
  level: 2
  collapsed: true

- id: bb-header-height
  title: (↕) Tab Header Height
  type: variable-number-slider
  format: px
  default: 40
  min: 25
  max: 100
  step: 1

- id: bb-header-topmargin
  title: (↥) Tab Header Top Margin
  type: variable-number-slider
  format: px
  default: 3
  min: 0
  max: 10
  step: 1

- id: bb-header-bottommargin
  title: (↧) Tab Header Bottom Margin
  type: variable-number-slider
  format: px
  default: 0
  min: 0
  max: 10
  step: 1

- id: bb-tab-width
  title: (⟷) Tab Minimum Width
  type: variable-number-slider
  format: px
  default: 140
  min: 25
  max: 500
  step: 5

- id: h-tab-behaviour
  title: Tab Behaviour
  type: heading
  level: 2
  collapsed: true

- id: close-btn-hover
  title: (X) Tab - Show close button on Hover
  description: Otherwise, active tab close button is visible
  type: class-toggle
  default: true
  addCommand: false

- id: close-btn-instead
  title: (X) Tab - Show close button INSTEAD OF TAB ICON on Hover
  description: This brings the close button on the right
  type: class-toggle
  default: true
  addCommand: false





- id: disable-fixed-newtab
  title: Disable fixed new tab button
  description: Resets the fixed new tab button
  type: class-toggle
  default: false
  addCommand: false

- id: fixed-left-sidebar-button
  title: Enable fixed left sidebar button
  description: 
  type: class-toggle
  default: false
  addCommand: false

- id: hide-tab-list
  title: Hide tab list
  type: class-toggle
  default: true

- id: hide-tab-close-btn
  title: Hide tab close button
  type: class-toggle
  default: false
  addCommand: false

- id: pin-icon-only
  title: Show only icon on pinned tabs
  type: class-toggle
  default: true
  addCommand: false

- id: hide-sidebar-toggle-left
  title: Hide Left Sidebar Toggle Button
  type: class-toggle
  default: false

- id: hide-sidebar-toggle-right
  title: Hide Right Sidebar Toggle Button
  type: class-toggle
  default: false


- id: tab-top-left-style
  title: Tab Style (Left top)
  description: Style for the top-left sidebar tab strip
  type: class-select
  default: tab-top-left-icons
  options:
    - label: Icons Only
      value: tab-top-left-icons
    - label: Labels Only
      value: tab-top-left-labels
    - label: Icons + Labels
      value: tab-top-left-icons-labels

- id: tab-top-right-style
  title: Tab Style (Right top)
  description: Style for the top-right sidebar tab strip
  type: class-select
  default: tab-top-right-icons
  options:
    - label: Icons Only
      value: tab-top-right-icons
    - label: Labels Only
      value: tab-top-right-labels
    - label: Icons + Labels
      value: tab-top-right-icons-labels

- id: tab-left-style
  title: Tab Style (Left)
  description: Style for the left sidebar tab strip
  type: class-select
  default: tab-left-icons
  options:
    - label: Icons Only
      value: tab-left-icons
    - label: Labels Only
      value: tab-left-labels
    - label: Icons + Labels
      value: tab-left-icons-labels

- id: tab-right-style
  title: Tab Style (Right)
  description: Style for the right sidebar tab strip
  type: class-select
  default: tab-right-icons
  options:
    - label: Icons Only
      value: tab-right-icons
    - label: Labels Only
      value: tab-right-labels
    - label: Icons + Labels
      value: tab-right-icons-labels




- id: compact-tabs
  title: Compact Tabs
  type: class-toggle
  default: false
  addCommand: true




- id: icons-buttons
  title: Icons & Buttons
  type: heading
  level: 1
  collapsed: true

- id: icons-buttons
  title: Icons & Buttons
  type: heading
  level: 2
  collapsed: true

- id: button-style
  title: Button & dropdown select Style
  type: class-select
  default: default
  options:
    - label: Default
      value: default
    - label: Bordered
      value: button-bordered
    - label: 3D
      value: button-3d
    - label: Bordered 3D
      value: button-bordered-3d
    - label: Glow
      value: button-glow

- id: button-animation
  title: Button Animation Style
  type: class-select
  default: button-shrink
  options:
    - label: None
      value: none
    - label: Scale
      value: button-scale
    - label: Shrink
      value: button-shrink
    - label: Bounce
      value: button-bounce
    - label: Tilt
      value: button-tilt

- id: icon-style
  title: Icon style
  description: Set the icon style
  type: class-select
  default: svg-filled
  options:
    - label: Default
      value: svg-default
    - label: Filled
      value: svg-filled
    - label: Big
      value: svg-big
    - label: Big Filled
      value: svg-big-filled
    - label: Glowing
      value: svg-glowing
    - label: Just Glow
      value: svg-just-glow
    - label: Accented
      value: svg-accented


- id: bb-icon-stroke
  title: ┃ - Icon Stroke Width
  type: variable-number-slider
  format: px
  default: 3
  min: 0
  max: 6
  step: .5

*/

/* Slider: Border Width */
body {
  --border-width: var(--bb-border-width);
  --tab-outline-width: var(--border-width);
  --divider-width: var(--border-width);
  --prompt-border-width: var(--border-width);
  --menu-border-width: var(--border-width);
  --status-bar-border-width: var(--border-width);
}

/* Slider: Header Height */
body {
  --header-height: var(--bb-header-height) !important;
  --tab-width: var(--bb-tab-width);
  --bb-tab-width: 140px;
}

body {
  --system-status-background: var(--titlebar-background);
}

/* disable divider */
/* body {
    --divider-color: transparent !important;
} */

/* ribbon colors */


/* titlebar: make tab header border show */
.titlebar, .titlebar-button-container, .sidebar-toggle-button.mod-right {
    background-color: transparent !important;
    background: transparent;
}


/* ribbon color for all layouts except float */
body:not(.tab-float) {
  .workspace-ribbon, .sidebar-toggle-button {
      background-color: var(--bb-workspace-bg);
      transition: background-color 0.1s ease;
  }
  .workspace-ribbon.side-dock-ribbon.mod-left .sidebar-toggle-button {
      height: var(--header-height);
      border-bottom: var(--border-width) solid var(--border-color);
  }
}

/* border colours */
body {
  --setting-items-border-color: var(--border-color);
  --modal-border-color: var(--border-color);
  --prompt-border-color: var(--border-color);
  --metadata-border-color: var(--border-color);
  --menu-border-color: var(--border-color);
  --code-border-color: var(--border-color);
  --bases-table-border-color: var(--border-color);
}







body {
  --tab-divider-color: transparent;
}


/* fun */
.tab-divider-skewed {
    --tab-divider-color: var(--border-color);
    
    .workspace-tab-header-inner::after {
        width: 3px !important;
        border-radius: 100px;
        transform: skew(-15deg);
        margin-right: -10px;
    }

    .workspace-tab-header:not(.is-active) {
        margin-right: 20px;
    }
}

/* tab + squircle tiptip */
/* body:is(.extra-squircle-tiptip) .workspace-tab-header.is-active {
  border-radius: 24px;
  corner-shape: round;
}
body:is(.extra-squircle-tiptip) .workspace-tab-header-inner {
  border-radius: 12px;
  corner-shape: round;
} */





/* important for bb header topmargin */
.workspace-tabs {
    background: var(--titlebar-background);
}

body:not(.tab-contained) .workspace-tab-header {
    margin-top: var(--bb-header-topmargin) !important;
}

body:not(.tab-contained) .workspace-tab-header-container-inner {
    padding-bottom: var(--bb-header-bottommargin) !important;
}


/* basic tab space + close button adj */
.mod-root .workspace-tab-header .workspace-tab-header-inner {
  gap: 0px;
  padding-right: 1px !important;
}
.mod-root .workspace-tab-header-inner-title {
  padding-left: 5px;
}
.mod-root .workspace-tab-header-inner-icon {
  padding-left: 3px;
}
.mod-root .workspace-tab-header-inner-close-button {
  margin-right: 0px;
  border-radius: 100px;
}
/* close button show on hover */
.close-btn-hover .mod-root .workspace-tab-header .workspace-tab-header-inner-close-button {
  opacity: 0 !important;
  transition: opacity 0.1s ease;
}
.close-btn-hover .mod-root .workspace-tab-header:hover .workspace-tab-header-inner-close-button {
  opacity: 1 !important;
}
/* Show close button in place of icon */
.close-btn-instead .mod-root .workspace-tab-header-inner-close-button {
  order: -1;
  display: none;
  margin-left: -3px;
}
.close-btn-instead .mod-root .workspace-tab-header:hover .workspace-tab-header-inner-icon {
  display: none !important;
}
body.close-btn-instead.center-active-tab-title .mod-root .workspace-tab-header.is-active .workspace-tab-header-inner-title,
body.close-btn-instead.center-all-tab-title .mod-root .workspace-tab-header .workspace-tab-header-inner-title {
  margin-left: -24px;
} /* plus fix title when center active tab is on*/


/* center ACTIVE tab title */
.center-active-tab-title .mod-root .workspace-tab-header.is-active .workspace-tab-header-inner-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* center ALL tab title */
.center-all-tab-title .mod-root .workspace-tab-header .workspace-tab-header-inner-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* active tab width */
.mod-root .workspace-tab-header {
  min-width: var(--tab-width) !important;
}

/* make sure tabs don't get cut off */
.mod-left-split .workspace-tab-header-container-inner,
.mod-right-split .workspace-tab-header-container-inner {
    flex: 100% !important;
}/* transparent bg on hiding ribbon: good */
.sidebar-toggle-button {
    background: transparent !important;
    background-color: transparent !important;
}

.workspace-ribbon.is-collapsed .sidebar-toggle-button {
    background-color: var(--ribbon-background-collapsed) !important;
}



