/* @settings
name: Actually Testing
id: h-test
collapsed: false
settings:



- id: workspace-layout
  title: Layout & Tab Style
  description: Set the workspace layout for desktop
  type: class-select
  default: tab-float
  options:
    - label: Joined
      value: tab-joined
    - label: Floating
      value: tab-float
    - label: Underlined
      value: tab-lined
    - label: Contained
      value: tab-contained
    - label: None
      value: tab-none

- id: bb-border-width
  title: Border Width
  type: variable-number-slider
  format: px
  default: 3
  min: 0
  max: 10
  step: 0.5

- id: bb-header-height
  title: Default Tab / Header Width
  type: variable-number-slider
  format: px
  default: 40
  min: 25
  max: 100
  step: 1

- id: h-dark-theme
  title: Dark Theme
  type: heading
  level: 1
  collapsed: false

- id: dark-theme-colors
  title: Dark Theme Colors
  description: Set the theme colors for dark mode
  type: class-select
  default: cool-gray
  options:

  # Neutral
  - label: NEUTRAL
    value: heading-neutral
  - label: Obsidian
    value: obsidian
  - label: Amoled
    value: amoled
  - label: Cool Gray
    value: cool-gray
  - label: Neutral Gray
    value: neutral-gray
  - label: Warm Gray
    value: warm-gray

  # Blue
  - label: COOL TONES
    value: heading-blue
  - label: Arctic Ice
    value: arctic-ice
  - label: Noble Blue
    value: noble-blue
  - label: Cold Memory
    value: cold-memory
  - label: Slate Smoke
    value: slate-smoke
  - label: Deep Blue
    value: deep-blue
  - label: Dark Night
    value: dark-night

  # Purple
  - label: PURPLE
    value: heading-purple
  - label: Deep Purple
    value: deep-purple
  - label: Violet Dream
    value: violet-dream
  - label: Magic Purple
    value: magic-purply
  - label: Nocturne
    value: nocturne
  - label: Lavendar
    value: lavendar

  # Green
  - label: GREEN
    value: heading-green
  - label: Emerald
    value: midnight-emerald
  - label: Muted Green
    value: muted-green
  - label: More Olives
    value: more-olives
  - label: Greenwood
    value: greenwood
  - label: Viridian Regalia
    value: viridian-regalia
  - label: Deep Green
    value: forest-green
  - label: Lime
    value: dark-lime
  - label: Green Road
    value: green-road

  # Red / Pink
  - label: REDS & PINKS
    value: heading-red
  - label: Rose Gold
    value: rose-gold
  - label: Crimson Twilight
    value: crimson-twilight
  - label: Wine
    value: wine
  - label: Deep Hotpink
    value: deep-hotpink
  - label: Deep Magenta
    value: deep-magenta
  - label: Deep Red
    value: deep-red
  - label: Mafia Red
    value: mafia-red
  - label: Red Forest
    value: red-forest

  # Brown / Warm
  - label: WARM TONES
    value: heading-warm
  - label: Urban
    value: urban
  - label: Citrine
    value: citrine
  - label: Golden Earth
    value: golden-earth
  - label: Golden Hour
    value: golden-hour
  - label: Caramel
    value: caramel
  - label: Chocolate
    value: chocolate
  - label: Dark Chocolate
    value: dark-chocolate
  - label: Comfort Chocolate
    value: comfort-choco
  - label: Tasty Chocolate
    value: tasty-chocolate
  - label: Tasty Chocolate 2
    value: tasty-chocolate-2
  - label: Leather
    value: leather
  - label: Velvet Maroon
    value: velvet

- id: dark-workspace-colors
  title: Dark Theme – Color Switcher
  description: Choose how editor/workspace colors are mapped in dark mode
  type: class-select
  default: dark-wc-default
  options:
    - label: Default
      value: dark-wc-default
    - label: Flipped
      value: dark-wc-flipped
    - label: Same as Editor
      value: dark-wc-only-editor
    - label: Same as Workspace
      value: dark-wc-only-workspace

- id: dark-theme-border
  title: Dark Theme – Border Colour
  description:
  type: class-select
  default: dark-border-color-hover
  options:
    - label: No border
      value: dark-border-color-none
    - label: Faded border
      value: dark-border-color-less
    - label: Bright Border
      value: dark-border-color-hover
    - label: Brightest Border
      value: dark-border-color-focus
    - label: Accented Border
      value: dark-border-color-accent
    - label: Accented Border 1
      value: dark-border-color-accent-1
    - label: Accented Border 2
      value: dark-border-color-accent-2
    - label: Lightly Accented Border
      value: dark-border-color-accent-light

- id: h-light-theme
  title: Light Theme
  type: heading
  level: 1
  collapsed: false

- id: light-theme-colors
  title: Light Theme Colors
  description: Set the theme colors for light mode
  type: class-select
  default: cloud-white
  options:

  # Light Neutrals
  - label: NEUTRALS
    value: heading-lights
    disabled: true
  - label: Cloud White
    value: cloud-white
  - label: Paper White
    value: paper-white
  - label: Light Gray
    value: light-gray
  - label: 50% Gray
    value: gray

  # Reds
  - label: REDS
    value: heading-red
    disabled: true
  - label: Blood
    value: blood

  # Warm / Creamy
  - label: WARM TONES
    value: heading-warm
    disabled: true
  - label: Sand
    value: soft-sand
  - label: Cream
    value: cream
  - label: Cream Blue
    value: cream-blue
  - label: Payesh
    value: payesh
  - label: Choco Milk
    value: choco

  # Peach / Yellow
  - label: YELLOW
    value: heading-yellow
    disabled: true
  - label: Chicken
    value: chicken
  - label: Yellow
    value: yellow
  - label: Peach
    value: peach
  - label: Joy
    value: joy

  # Greens
  - label: GREENS & EARTHY
    value: heading-green
    disabled: true
  - label: Yellow Teeth
    value: yellow-teeth
  - label: Disgust
    value: disgust
  - label: Olive
    value: olive
  - label: Herb
    value: herb
  - label: Green
    value: green
  - label: Jade
    value: jade


  # Blues / Cool Tones
  - label: COOL TONES
    value: heading-blue
    disabled: true
  - label: Cyan
    value: cyan
  - label: Blue
    value: blue
  - label: Azure
    value: azure
  - label: Toothpaste
    value: toothpaste
  - label: Corporate
    value: corporate

  # Purples / Pinks
  - label: PURPLES & PINKS
    value: heading-purple
    disabled: true
  - label: Purple
    value: purple
  - label: Pink
    value: pink
  - label: Rose
    value: rose
  - label: Brinjal
    value: brinjal

  # Specials
  - label: SPECIAL
    value: heading-pink
  - label: Delta
    value: delta




- id: light-workspace-colors
  title: Light Theme – Color Switcher
  description: Choose how editor/workspace colors are mapped in light mode
  type: class-select
  default: light-wc-default
  options:
    - label: Default
      value: light-wc-default
    - label: Flipped
      value: light-wc-flipped
    - label: Same as Editor
      value: light-wc-only-editor
    - label: Same as Workspace
      value: light-wc-only-workspace

- id: light-theme-border
  title: Light Theme – Border Colour
  description:
  type: class-select
  default: light-border-color-hover
  options:
    - label: No border
      value: light-border-color-none
    - label: Faded border
      value: light-border-color-less
    - label: Dark Border
      value: light-border-color-hover
    - label: Darkest Border
      value: light-border-color-focus
    - label: Accented Border
      value: light-border-color-accent
    - label: Accented Border 1
      value: light-border-color-accent-1
    - label: Accented Border 2
      value: light-border-color-accent-2
    - label: Lightly Accented Border
      value: light-border-color-accent-light



*/

body {
  --border-width: var(--bb-border-width);
  --tab-outline-width: var(--border-width);
  --divider-width: var(--border-width);
  --prompt-border-width: var(--border-width);
  --menu-border-width: var(--border-width);
  --status-bar-border-width: var(--border-width);
}

.theme-dark:not(.obsidian),
.theme-light:not(.obsidian) {
  --bb-input-bg: var(--bb-tiptips-bg);
  --bb-input-hover-bg: var(--bb-tiptips-hover-bg);

  --background-primary: var(--bb-editor-bg) !important;
  --background-primary-alt: var(--bb-elements-bg) !important;
  --background-secondary: var(--bb-workspace-bg) !important;
  --background-secondary-alt: var(--bb-workspace-bg) !important;

  --tab-background: var(--bb-editor-bg) !important;
  --tab-background-hover: var(--bb-elements-bg) !important;
  --tab-background-active: var(--bb-editor-bg) !important;

  --interactive-normal: var(--bb-tiptips-bg) !important;
  --interactive-hover: var(--bb-tiptips-hover-bg) !important;
  --background-modifier-form-field: var(--bb-input-bg) !important;
  --background-modifier-form-field-hover: var(--bb-input-hover-bg) !important;
  --background-modifier-border: var(--bb-border-color);
  --background-modifier-border-hover: var(--bb-border-hover-color);
  --background-modifier-border-focused: var(--bb-border-focused-color);

  --text-normal: var(--txt-n);
  --text-muted: var(--txt-m);
  --text-faint: var(--text-f);
  
  --text-success: var(--color-green);
  --text-warning: var(--color-red);
  --text-error: var(--color-red);
  --text-accent: var(--color-accent);
  --text-accent-hover: var(--color-accent-2);

  --scrollbar-bg: var(--bb-tiptips-bg);
  --scrollbar-thumb-bg: var(--bb-tiptips-hover-bg);
  --scrollbar-active-thumb-bg: var(--bb-tiptips-bg);
}

.theme-dark, .theme-light {
  --accent-red: var(--color-red);
  --accent-orange: var(--color-orange);
  --accent-yellow: var(--color-yellow);
  --accent-green: var(--color-green);
  --accent-cyan: var(--color-cyan);
  --accent-blue: var(--color-blue);
  --accent-purple: var(--color-purple);
  --accent-pink: var(--color-pink);
  --accent-brown: var(--color-brown);
  --accent-gray: var(--text-normal);

  --color-red: #da4b4b;
  --color-orange: #cc692a;
  --color-yellow: #e8b05a;
  --color-green: #a3bd6a;
  --color-cyan: #42adbb;
  --color-blue: #4281bb;
  --color-purple: #965daf;
  --color-pink: #c85b92;
  --color-brown: #9b674b;
  --color-gray: #a6a6a6;

  --header-height: var(--bb-header-height) !important;
}




.dropdown option[value^="heading-"] {
    background-color: hsla(var(--interactive-accent-hsl), 0.75) !important;
    color: var(--text-normal) !important;
    font-weight: 600;
    text-align: center;
    pointer-events: none;
    cursor: default;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    padding: 10px 0;
}

/* Red heading */
.dropdown option[value^="heading-red"] {
    background-color: rgba(var(--color-red-rgb), 0.75) !important;
}

/* Orange heading */
.dropdown option[value^="heading-warm"],
.dropdown option[value^="heading-orange"] {
    background-color: rgba(var(--color-orange-rgb), 0.75) !important;
}

/* Yellow heading */
.dropdown option[value^="heading-yellow"] {
    background-color: rgba(var(--color-yellow-rgb), 0.75) !important;
}

/* Green heading */
.dropdown option[value^="heading-green"] {
    background-color: rgba(var(--color-green-rgb), 0.75) !important;
}

/* Blue heading */
.dropdown option[value^="heading-blue"] {
    background-color: rgba(var(--color-blue-rgb), 0.75) !important;
}

/* Purple heading */
.dropdown option[value^="heading-purple"] {
    background-color: rgba(var(--color-purple-rgb), 0.75) !important;
}

/* Pink heading */
.dropdown option[value^="heading-pink"] {
    background-color: rgba(var(--color-pink-rgb), 0.75) !important;
}