/* hide help icon */
.svg-icon.help {
    display: none;
}

/* hide tab list */
.hide-tab-list .workspace-tab-header-tab-list {
    display: none;
}

/* hide tab close btn */
.hide-tab-close-btn
    .workspace
    .mod-root
    .workspace-tab-header
    .workspace-tab-header-inner-close-button {
    margin-right: 6px;
    display: none;
}

/* hide sidebar toggle buttons */
body.hide-sidebar-toggle-left .sidebar-toggle-button.mod-left {
    display: none;
}

body.hide-sidebar-toggle-right .sidebar-toggle-button.mod-right {
    display: none;
}

/* hide breadcrumbs */
.hide-breadcrumbs .view-header-breadcrumb {
    display: none;
}

.hide-breadcrumbs .view-header-breadcrumb-separator {
    display: none;
}

/* hide strikethrough */
.hide-strikethrough .markdown-preview-view .task-list-item.is-checked,
.hide-strikethrough .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.hide-strikethrough .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"] {
    text-decoration: none !important;
}

/* hide properties arrow */
.hide-properties-arrow
    .metadata-container
    .metadata-properties-heading
    .collapse-indicator.collapse-icon {
    opacity: 0 !important;
    visibility: hidden !important;
    pointer-events: none !important;
}


/* hide folder collapse arrow */
body.hide-folder-arrow .nav-folder-title .collapse-icon {
    --nav-collapse-icon-color: transparent;
    --nav-collapse-icon-color-collapsed: transparent;
}

body.hide-folder-arrow .nav-folder-title .tree-item-icon {
    display: none;
}



