/* =========================
///////// ICON STYLES
========================= */
.filled svg {
    fill: currentcolor;
    fill-opacity: 0.25;
}

.big svg,
.big svg.svg-icon,
.big .clickable-icon {
    --icon-size: 22px !important;
}

.big-filled svg,
.big-filled svg.svg-icon,
.big-filled .clickable-icon {
    --icon-size: 22px !important;
    fill: currentcolor;
    fill-opacity: 0.25;
}

.big-filled .workspace-tab-header .workspace-tab-header-inner-icon,
.big .workspace-tab-header .workspace-tab-header-inner-icon {
    --icon-size: 18px !important;
    width: 22px;
}


/* icon colours */
.clickable-icon.extra-setting-button[aria-label*="donate to support" i]:hover {
    color: var(--color-pink);
    background-color: rgba(var(--color-pink-rgb), 0.1);
}

.clickable-icon.extra-setting-button[aria-label*="uninstall" i]:hover,
.clickable-icon.extra-setting-button[aria-label*="delete" i]:hover {
    color: var(--text-error);
    background-color: rgba(var(--color-red-rgb), 0.2);
}

.clickable-icon.extra-setting-button[aria-label*="remove" i]:hover {
    color: var(--text-error);
    background-color: rgba(var(--color-red-rgb), 0.2);
}

.modal-close-button.clickable-icon:hover {
    color: var(--text-error);
    background-color: rgba(var(--color-red-rgb), 0.2);
    transition: calc(var(--animation-duration) * 0.6667) ease;
}

.workspace-tab-header-new-tab .clickable-icon:hover {
    color: var(--color-accent);
    background-color: hsla(var(--interactive-accent-hsl), 0.2);
    transition: calc(var(--animation-duration) * 0.6667) ease;
}

.workspace-tab-header-new-tab .clickable-icon:active {
    color: var(--color-accent);
    background-color: hsla(var(--interactive-accent-hsl), 0.2);
    transition: calc(var(--animation-duration) * 0.6667) ease;
}

