/* =========================
///////// SELECTS
========================= */

select {
    margin-right: 0 !important;
    transition:
        all calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 2),
        background-color calc(var(--animation-duration) * 0.6667) ease;
    padding: auto 20px !important;
    text-align: center;
}

/* select:hover {
    transform: scale(1.1);
} */

select:active {
    padding: auto 26px !important;
    transform: scale(0.9);
}