
/* === BLOCKQUOTES === */

/* Reading mode blockquote */
.markdown-preview-view blockquote {
    border-left: 4px solid var(--color-accent);
    padding: 0.6em 1em;
    margin: 0.8em 0;
    background-color: var(--background-secondary);
    border-radius: 8px;
}

/* Live Preview blockquote */
.markdown-source-view.is-live-preview .cm-line.HyperMD-quote {
    /* border-left: 4px solid var(--color-accent); */
    background-color: var(--background-secondary);
    border-radius: 8px !important;
}

.markdown-source-view.mod-cm6.is-live-preview .HyperMD-quote::before,
.markdown-source-view.mod-cm6 .cm-blockquote-border::before {
    content: "\200b";
    display: block;
    width: 1px;
    border-inline-start: var(--blockquote-border-thickness) solid
        var(--blockquote-border-color);
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.HyperMD-quote.HyperMD-quote-1.cm-line {
    border-radius: 200px !important;
}
