/* ==================================================
   CSSCLASSES
================================================== */

/* === CSSCLASSES ONE === */
.cssclasses-1
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;
    padding: 4px 12px !important;
    border: 0.15em solid var(--color-accent);
    box-shadow: 0 1.5px 0 0 var(--color-accent);

    /* text-transform: uppercase; */
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--color-accent-2) !important;
    font-size: 0.85em;
}

.cssclasses-1
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill:hover {
    background-color: var(--background-modifier-hover);
    border: 0.2em solid var(--color-accent-2);
    font-weight: bold;
}

/* x icon */
.cssclasses-1
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill
    svg {
    color: var(--color-accent-2) !important;
    margin: 2px;
    margin-right: 0;
}

/* === CSSCLASSES TWO === */
.cssclasses-2
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;
    padding: 0 6px !important;
    box-shadow: 0 0 0 1px var(--text-normal);

    /* text-transform: uppercase; */
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--text-normal) !important;
    font-size: 0.8em;
}

/* x icon */
.cssclasses-2
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill
    svg {
    color: var(--text-normal) !important;
    margin: 2px;
    margin-right: 0;
}

/* === CSSCLASSES THREE === */
.cssclasses-3
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill {
    padding: 3px 12px !important;

    /* text-transform: uppercase; */
    letter-spacing: 0.09em;
    background-color: rgb(var(--mono-rgb-100), 0.1) !important;
    color: var(--text-normal) !important;
    font-size: 0.9em;
}

.cssclasses-3
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill:hover {
    padding: 3px 12px !important;

    /* text-transform: uppercase; */
    letter-spacing: 0.09em;
    background-color: rgb(var(--mono-rgb-100), 0.2) !important;
    color: var(--text-normal) !important;
    font-size: 0.9em;
}

/* x icon */
.cssclasses-3
    .metadata-property[data-property-key="cssclasses"]
    .multi-select-pill
    svg {
    color: var(--text-normal) !important;
    margin: 2px;
    margin-right: 0;
}

.workspace-leaf-content[data-type="file-properties"] .metadata-property-value {
    padding: 4px !important;
}

/* bubbletry */

/* body .workspace-tab-container {
    margin: 14px 10px 14px !important;
    border-radius: 12px;
    border: 2px solid var(--background-modifier-border);
    filter: brightness(1);
} */

.metadata-property,
.metadata-property-key,
.metadata-property-value {
    border: none !important;
}

/* property key icon styles: accent color, normal text color, muted color, hidden */
.mpk-accent-color .metadata-property-key-input {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;
    padding: 4px 10px !important;
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--color-accent-1) !important;
    font-size: 0.8em;
}

.mpk-accent-color .metadata-property-icon {
    color: var(--color-accent-1) !important;
}

/* accent-color + hidden */
.mpk-accent-color-hidden .metadata-property-key-input {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--color-accent-1) !important;
    font-size: 0.8em;
}

.mpk-accent-color-hidden .metadata-property-icon {
    color: var(--color-accent-1) !important;
    display: none;
}

/* ? normal */
.mpk-normal-color .metadata-property-key-input {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;
    padding: 4px 12px !important;
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--text-normal) !important;
}

.mpk-normal-color .metadata-property-icon {
    color: var(--text-normal) !important;
}

/* ? muted */
.mpk-muted-color .metadata-property-key-input {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;   
    padding: 4px 12px !important;
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--text-muted) !important;
}

.mpk-key-only .metadata-property-icon {
    color: var(--text-muted) !important;
}

/* ? hidden */
.mpk-key-only .metadata-property-key-input {
    border-radius: var(--button-radius) !important;
    corner-shape: var(--corner-shape) !important;   
    padding: 4px 12px !important;
    letter-spacing: 0.09em;
    background-color: transparent;
    color: var(--text-muted) !important;
}

.mpk-key-only .metadata-property-icon {
    color: var(--text-muted) !important;
    display: none !important;
}

/* popover */
.popover {
    border-radius: var(--button-radius);
    border: 2px solid var(--background-modifier-border-focus)
}

/* ===== NOTICES ===== */

.notice {
    background-color: var(--background-primary);
    color: var(--text-accent);
    border: 2px solid var(--background-modifier-border);
    border-radius: var(--button-radius);
    padding: 20px;
}

.notice-message::before {
    content: "Notice: ";
    color: var(--color-red);
}

.notice,
.notice-container {
    animation: notice-in calc(var(--animation-duration) * 1.1667) cubic-bezier(0.175, 0.885, 0.32, 2);
    transform-origin: top center;
    z-index: 2000;
}

@keyframes notice-in {
    0% {
        opacity: 0;
        transform: translateY(-8px) scale(0.96);
    }

    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}



/* ===== CALLOUTS ===== */

li.task-list-item {
    display: flex;

    /* this flex fixes a visual issue for checkboxes in callouts */
    margin-bottom: 4px;
}

li.task-list-item .always-color-text-highlight {
    margin-inline-start: 2px;
}


:root {
    --link-decoration: none;
    --link-color: var(--color-accent-2);
}



















