/* CONTAINED TABS */
.tab-contained {
    --header-height: 50px;

    .workspace-split:is(.mod-vertical.mod-root) .workspace-tab-header-container .workspace-tab-header,
    .workspace-split:is(.mod-vertical.mod-root) .workspace-tab-header-container .workspace-tab-header.is-active {
        --tab-curve: 0px;

        /* box-shadow: none; */
    }

    .workspace-split:is(.mod-vertical.mod-root) .workspace-tab-header-container {
        padding: 4px;
        height: 50px;
    }

    .workspace-split:is(.mod-vertical.mod-root) .workspace-tab-header-container-inner {
        /* height: 100%; */
        margin-top: 0;
        margin-left: 5px;
        padding-left: 0 !important;

        margin-right: 10px;
        padding-right: 0 !important;

        border-radius: var(--touch-radius-xs);
        corner-shape: var(--corner-shape);
        background-color: var(--background-secondary-alt);

        transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.4),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6);
    }

    .workspace-split:is(.mod-vertical.mod-root) .workspace-tab-header-container .workspace-tab-header.is-active {
        margin-top: 2px !important;
        margin-bottom: 3px !important;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: var(--touch-radius-xxs);

        transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.4),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6);
    }

    .workspace-split:is(.mod-vertical.mod-root) .workspace-tab-header-container .workspace-tab-header-inner {
        border-radius: var(--touch-radius-xxs);
    }

    .workspace-split:not(.mod-vertical.mod-root) .workspace-tab-header,
    .workspace-split:not(.mod-vertical.mod-root) .workspace-tab-header.is-active,
    .workspace-split:not(.mod-vertical.mod-root) .workspace-tab-header:hover {
        border-radius: var(--touch-radius-xxs) !important;
    }
}

/* contained compact tabs */
body:is(.tab-contained):is(.compact-tabs) {
    --header-height: 25px;
    
    .workspace-tab-header-container {
        padding: 4px;
        height: 32px;
    }

    .workspace-tab-header-container .workspace-tab-header.is-active .workspace-tab-header-inner {
        margin-top: -2px;
    }

    .workspace-tab-header-container .workspace-tab-header .workspace-tab-header-inner {
        margin-top: 1px;
    }

    /* sidebar tabs fix */
    .workspace-split:is(.mod-vertical.mod-root) 
    .workspace-tab-header-container-inner {
        padding-left: 4px !important;
        padding-right: 4px !important;    
    }

    .workspace-split:is(.mod-vertical.mod-root) 
    .workspace-tab-header-container .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
        margin-top: 2px !important;
        transition: background-color 0.2s ease, transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.2),
                    padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1), margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6) !important;
    }

    .workspace-split:is(.mod-vertical.mod-root) 
    .workspace-tab-header-container .workspace-tab-header.is-active {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .workspace-split.mod-left-split .workspace-tab-header,
    .workspace-split.mod-right-split .workspace-tab-header,
    .workspace-split.mod-left-split .workspace-tab-header.is-active,
    .workspace-split.mod-right-split .workspace-tab-header.is-active,
    .workspace-split.mod-left-split .workspace-tab-header:not(.is-active):hover,
    .workspace-split.mod-right-split .workspace-tab-header:not(.is-active):hover {
        height: 18.5px !important;
        width: 30px;
        padding: auto;
        overflow: visible !important;
    }
}