.cm-scroller {
  container-type: inline-size;
}

/* Stack metadata vertically when .cm-scroller width is less than 500px */
@container (max-width: 500px) {
  .metadata-property {
    display: flex !important;
    flex-direction: column !important;
    align-items: stretch !important;
    gap: 8px !important;
    margin-bottom: 4px !important;
  }

  .is-mobile .metadata-property-icon {
    --icon-size: var(--mobile-font-size);
  }

  .metadata-property-key {
    width: 100% !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    height: 40px !important;
  }

  .metadata-property-value {
    width: 100% !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .multi-select-container {
    flex-wrap: wrap !important;
  }

  .is-mobile .metadata-container {
    padding: 0px !important;
    padding-right: 24px !important;
    padding-top: 8px !important;
  }
}



/* properties fix */
.is-mobile .metadata-content {
    background-color: var(--background-secondary-alt);
}

.is-mobile .metadata-properties-heading {
    width: 100%;
}

@container (max-width: 800px) {
    .is-mobile .metadata-container {
        padding-right: 0px !important;
    }

    .is-mobile .metadata-content {
        transform: translateX(-12px);
        width: 100%;
    }
}