
/* ===== CODEBLOCKS ===== */

.markdown-rendered pre {
    position: relative;
    padding: var(--size-4-3) var(--size-4-4);
    min-height: 38px;
    background-color: var(--code-background);
    border-radius: var(--code-radius);
    white-space: var(--code-white-space);
    overflow-x: auto;
    border: 3px solid var(--background-modifier-border) !important;
}

.markdown-rendered code {
    background-color: var(--code-background) !important;
}
