/* ==================================
  BUTTONS | SELECTS | ICONS
================================== */





input[type="text"] {
    /* border: var(--input-border-width) solid var(--background-modifier-border); */
    /* border: 2px solid var(--background-modifier-border-hover) !important; */
    /* box-shadow:
  0px -0.8px 0px 1px var(--background-modifier-form-field-hover),
  0px 1px 0.3px 1px #00000040; */

    --background-modifier-form-field: var(--background-secondary-alt);
    --background-modifier-form-field-hover: var(--background-secondary-alt);
    --background-modifier-border-focus: var(--text-muted);
    --background-modifier-border-width: 2px;
    --input-border-width: 0px;

    transition:
        border-radius calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 1.2),
        background calc(var(--animation-duration) * 0.6667) ease,
        background-color calc(var(--animation-duration) * 0.6667) ease,
        border calc(var(--animation-duration) * 0.3333) ease !important;
}

input:focus {
    border-radius: 10px !important;
    transition: border-radius calc(var(--animation-duration) * 0.6667) cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

.menu {
    border-radius: 20px;
    transition: all calc(var(--animation-duration) * 0.6667) cubic-bezier(0.175, 0.885, 0.32, 2) !important;
    /* padding: 0px 30px !important; */
    overflow: auto !important;
    opacity: 1;
}

.menu-item.tappable.selected:active {
    border-radius: 26px;
    /* padding: 2px 8px !important; */
    transition: all calc(var(--animation-duration) * 0.3333) ease;
    /* background-color: hsla(var(--interactive-accent-hsl), 0.6) !important;  */
    transform: scale(0.9);
}

.menu-item.tappable {
    border-radius: 20px;
    padding: 6px 8px !important;
    transition: all calc(var(--animation-duration) * 0.3333) ease !important;
}

@media (max-width: 600px) {
    .menu-item.tappable {
        border-radius: 12px;
        margin: 8px 0px;
        padding: 12px !important;
        border: none !important;
        box-shadow: none !important;
    }
    .menu {
        border-radius: 20px !important;
    }
    .view-header {
        background-color: var(--background-secondary-alt) !important;
    }

    .view-header .clickable-icon {
        background-color: var(--background-secondary-alt) !important;
        background: var(--background-secondary-alt) !important;
    }
    .clickable-icon {
        &:hover {
            transform: scale(0.8);
        }
        &:active {
            transform: none;
        }
    }
}

.menu-item.tappable.selected {
    color: var(--color-accent) !important;
    background-color: hsla(var(--interactive-accent-hsl), 0.2) !important;
}

.menu-item.tappable.selected .menu-item-icon {
    color: var(--color-accent) !important;
}

/* Red for delete/remove opts */
.menu-item.tappable[data-section*="delete"]:not(.is-disabled),
.menu-item.tappable[data-section*="Delete"]:not(.is-disabled),
.menu-item.tappable[data-section*="DELETE"]:not(.is-disabled) {
    color: var(--text-error) !important;
    background-color: rgba(var(--color-red-rgb), 0.3) !important;
}

.menu-item.tappable[data-section*="delete"]:not(.is-disabled) .menu-item-icon,
.menu-item.tappable[data-section*="Delete"]:not(.is-disabled) .menu-item-icon,
.menu-item.tappable[data-section*="DELETE"]:not(.is-disabled) .menu-item-icon {
    color: var(--text-error) !important;
}

.menu-item.tappable[data-section*="remove"]:not(.is-disabled),
.menu-item.tappable[data-section*="Remove"]:not(.is-disabled),
.menu-item.tappable[data-section*="REMOVE"]:not(.is-disabled) {
    color: var(--text-error) !important;
    background-color: rgba(var(--color-red-rgb), 0.3) !important;
}

.menu-item.tappable[data-section*="remove"]:not(.is-disabled) .menu-item-icon,
.menu-item.tappable[data-section*="Remove"]:not(.is-disabled) .menu-item-icon,
.menu-item.tappable[data-section*="REMOVE"]:not(.is-disabled) .menu-item-icon {
    color: var(--text-error) !important;
}

/* is-warning class */
.menu-item.tappable.is-warning {
    color: var(--text-error) !important;
}

.menu-item.tappable.is-warning .menu-item-icon {
    color: var(--text-error) !important;
}

.menu-item.tappable.is-warning.selected {
    color: var(--text-error) !important;
    background-color: rgba(var(--color-red-rgb), 0.3) !important;
}

.menu-item.tappable.is-warning.selected .menu-item-icon {
    color: var(--text-error) !important;
}


