/* ==================================================
   NAVIGATION
================================================== */

@media (min-width: 600px) {
    .nav-header {
        /* margin-top: -30px; */
        transition: all calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 1.2);
        border-bottom: 1.5px solid var(--background-modifier-border);
    }

    .nav-buttons-container {
        position: relative;
        transition: opacity calc(var(--animation-duration) * 6.6667) ease;
        transition: all calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 1.6);
        margin: -6.2px;
    }

    /* Hide the buttons and show text */
    .workspace-leaf-content[data-type="file-explorer"]
        .nav-buttons-container::after {
        content: var(--nav-hide-text) !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--text-muted);
        opacity: 1;
        pointer-events: none;
        transition: opacity 0s ease;
        width: 100%;
        text-align: center;
    }

    /* On hover, show buttons + hide text */
    .workspace-leaf-content[data-type="file-explorer"]
        .nav-buttons-container:hover {
        opacity: 1;
        padding: 10px 0 !important;
    }

    .workspace-leaf-content[data-type="file-explorer"]
        .nav-buttons-container:hover::after {
        opacity: 0;
    }

    /* Initially hide buttons */
    .workspace-leaf-content[data-type="file-explorer"]
        .nav-buttons-container:not(:hover)
        > * {
        opacity: 0;
        transition: opacity 0ms ease;
        margin: auto !important;
    }

    .workspace-leaf-content[data-type="file-explorer"] .nav-files-container {
        padding-top: 10px;
    }
}

/* base folder styling  */
.nav-folder-title {
    /* --icon-color: var(--color-accent-1); */
    /* --nav-collapse-icon-color: var(--color-accent-1); */
    /* --nav-collapse-icon-color-collapsed: var(--color-accent-1); */

    border-radius: var(--nav-folder-radius) !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 6px !important;
    padding-left: 30px !important;

    /* background-color: hsla(var(--interactive-accent-hsl), 0.2) !important;
    background-image: none !important; */
    /* color: var(--color-accent-1) !important; */
    box-shadow: none !important;
    border: none;

    transition:
        border calc(var(--animation-duration) * 0.6667) ease,
        padding-top calc(var(--animation-duration) * 0.6667) ease,
        padding-bottom calc(var(--animation-duration) * 0.6667) ease,
        margin-top calc(var(--animation-duration) * 0.6667) ease,
        margin-bottom calc(var(--animation-duration) * 0.6667) ease,
        border-radius calc(var(--animation-duration) * 0.6667),
        box-shadow calc(var(--animation-duration) * 0.6667) ease,
        background-color calc(var(--animation-duration) * 0.6667) ease !important;

    /* &:hover {
        border-radius: 6px;

        background-color: hsla(var(--interactive-accent-hsl), 0.3) !important;
        color: var(--color-accent-2) !important;

        transition:
            border calc(var(--animation-duration) * 0.6667) ease,
            padding calc(var(--animation-duration) * 0.6667) ease,
            padding-left 0s ease,
            margin calc(var(--animation-duration) * 0.6667) ease,
            border-radius calc(var(--animation-duration) * 0.6667),
            box-shadow calc(var(--animation-duration) * 0.6667) ease,
            background-color calc(var(--animation-duration) * 0.6667) ease !important;
    } */
}

.tree-item-self:hover {
    background-color: hsla(var(--interactive-accent-hsl), 0.2) !important;
}
