/* =========================
///////// BUTTON STYLES
========================= */

button, button:hover, button:active {
    transition: background-color 0.2s ease,
                border-radius 0.2s ease,
                transform calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 1.5) !important;
}


/* bordered */
body:not(.view-header) .button-bordered button,
.button-bordered .setting-item-control button,
.button-bordered select {
    border: 2px solid var(--background-modifier-border-focus) !important;
}

.button-bordered button.mod-cta {
    border: 2px solid var(--color-accent-1) !important;
}

.button-bordered .clickable-icon:active {
    border-radius: var(--button-radius);
    transform: scale(0.8);
    border: 2px solid currentColor !important;
    color: var(--color-accent-1);
    background-color: hsla(var(--interactive-accent-hsl), 0.2) !important;
}

/* 3d */
body:not(.view-header) .button-3d button,
.button-3d .mod-cta,
.button-3d select,
.button-3d .setting-item-control button {
    border-bottom: 3px solid var(--button-shadow) !important;
    transition: border-bottom 0.1s ease, transform 0.1s ease;
}

body:not(.view-header) .button-3d button:hover,
.button-3d .mod-cta:hover,
.button-3d select:hover,
.button-3d .setting-item-control button:hover {
    border-bottom: 5px solid var(--button-shadow) !important;
    transform: translateY(-2px);
}

body:not(.view-header) .button-3d button:active,
.button-3d .mod-cta:active,
.button-3d select:active,
.button-3d .setting-item-control button:active {
    border-bottom: 0px solid var(--button-shadow) !important;
    transform: translateY(2px);
}

/* boredered 3d */
body:not(.view-header) .button-bordered-3d button,
.button-bordered-3d .mod-cta,
.button-bordered-3d select,
.button-bordered-3d .setting-item-control button {
    border: 2px solid var(--background-modifier-border-focus) !important;
    border-bottom: 3px solid var(--button-shadow) !important;
    transition: border-bottom 0.1s ease, transform 0.1s ease;
}

body:not(.view-header) .button-bordered-3d button:hover,
.button-bordered-3d .mod-cta:hover,
.button-bordered-3d select:hover,
.button-bordered-3d .setting-item-control button:hover {
    border: 2px solid var(--background-modifier-border-focus) !important;
    border-bottom: 5px solid var(--button-shadow) !important;
    transform: translateY(-2px);
}


body:not(.view-header) .button-bordered-3d button:active,
.button-bordered-3d .mod-cta:active,
.button-bordered-3d select:active,
.button-bordered-3d .setting-item-control button:active {
    border: 2px solid var(--background-modifier-border-focus) !important;
    border-bottom: 0px solid var(--button-shadow) !important;
    transform: translateY(0px);
}

/* glw */
.button-glow button,
.button-glow .mod-cta,
.button-glow select,
.button-glow .setting-item-control button {
    box-shadow: 0 0 0px var(--color-accent) !important;
    transition: box-shadow 0.2s ease;
}

.button-glow button:hover,
.button-glow .mod-cta:hover,
.button-glow select:hover,
.button-glow .setting-item-control button:hover {
    box-shadow: 0 0 8px var(--text-normal) !important;
}