/* input fields */
input[type="text"] {
    --background-modifier-form-field: var(--background-secondary-alt);
    --background-modifier-form-field-hover: var(--background-secondary-alt);
    --background-modifier-border-focus: var(--text-muted);
    --background-modifier-border-width: 2px;
    --input-border-width: 0px;

    border-radius: var(--button-radius);

    transition:
        border-radius calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 1.2),
        background calc(var(--animation-duration) * 0.6667) ease,
        background-color calc(var(--animation-duration) * 0.6667) ease,
        border calc(var(--animation-duration) * 0.3333) ease !important;
}

input:focus {
    border-radius: var(--button-radius);
    transition: border-radius calc(var(--animation-duration) * 0.6667) cubic-bezier(0.175, 0.885, 0.32, 1.2);
}




/* slider */
input.slider {
    height: 10px !important;
    border-radius: 10px;
}

input.slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 4px !important;
    background-color: var(--interactive-accent);
    cursor: pointer;
    width: 20px !important;
    transition: all calc(var(--animation-duration) * 0.3333) cubic-bezier(0.175, 0.885, 0.32, 1.5);
    background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>\
\3c !-- Angry eyes \\/ -->\
<line x1='28' y1='34' x2='42' y2='38' stroke='black' stroke-width='7' stroke-linecap='round'/>\
<line x1='58' y1='38' x2='72' y2='34' stroke='black' stroke-width='7' stroke-linecap='round'/>\
\3c !-- Straight mouth -->\
<line x1='40' y1='55' x2='60' y2='55' stroke='black' stroke-width='7' stroke-linecap='round'/>\
</svg>");
}

input.slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    appearance: none;
    border-radius: 20px !important;
    width: 18px !important;
    transition: all calc(var(--animation-duration) * 0.3333) cubic-bezier(0.175, 0.885, 0.32, 2);
    background-image: url("data:image/svg+xml;utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'>\
<circle cx='35' cy='40' r='5' fill='black'/>\
<circle cx='65' cy='40' r='5' fill='black'/>\
<path d='M30 60 Q50 72 70 60' stroke='black' stroke-width='6' fill='none' stroke-linecap='round'/>\
</svg>");
}