body.tab-float {
  --system-status-background: var(--bb-editor-bg);
  --border-width: var(--bb-border-width);
  --tab-outline-width: 0px;
  --divider-width: 0px;
  --prompt-border-width: var(--border-width);
  --menu-border-width: var(--border-width);
  --status-bar-border-width: var(--border-width);

  .workspace-leaf-content {
    border-radius: var(--touch-radius-s);
    corner-shape: var(--corner-shape);
  }

  .workspace-tab-header-container {
    border: none;
    background-color: var(--bb-editor-bg);
    margin-bottom: -4px;
  }

  .workspace-tab-container {
    margin: 6px;
    border: var(--border-width) solid var(--border-color);
    border-radius: calc(var(--modal-radius) + 5px);
    corner-shape: var(--corner-shape);
  }

  .workspace-tabs {
    background-color: var(--bb-editor-bg);
  }

  .workspace-leaf,
  .workspace-leaf-content,
  .cm-scroller,
  .workspace-leaf-content .view-header,
  .empty-state {
    --file-header-background-focused: var(--bb-elements-bg);
    background-color: var(--bb-elements-bg);
  }

  .markdown-reading-view .markdown-preview-view {
    --file-header-background-focused: var(--bb-elements-bg);
    background-color: var(--bb-elements-bg);
  }

  .titlebar-button-container {
    background-color: var(--bb-editor-bg) !important;
  }

  .workspace-sidedock-vault-profile {
    border-top: 0;
    background-color: var(--bb-editor-bg) !important;
    margin-top: -8px;
  }

  .workspace-ribbon,
  .sidebar-toggle-button {
    background-color: var(--bb-editor-bg);
    transition: background-color 0.1s ease;
    margin-left: 5px;
  }

  .workspace-ribbon::before {
    border: 0px solid transparent !important;
    box-shadow: none;
  }

  .workspace .mod-root .workspace-tab-header:hover .workspace-tab-header-inner-close-button {
    margin-left: -6px !important;
  }

  .workspace-tab-header-container .workspace-tab-header-inner {
    background-color: transparent !important;
  }

  .workspace-tab-header {
    --tab-curve: 0px;
    border-radius: var(--tab-radius);
    corner-shape: var(--corner-shape);
    filter: brightness(1);
    margin-top: 1px;
    margin-bottom: 8px;
    margin-right: 4px;
    padding: 2px 3px;
    transform: translateY(0) scale(0.98);
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.4),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6);
  }

  .mod-root .workspace-tab-header.is-active {
    min-height: 24px;
    background-color: var(--bb-elements-bg);
    box-shadow: 0 0 0 var(--border-width) var(--border-color);
    margin: 1px 10px 8px;
    padding: 2px 3px;
    transform: translateY(1px) scale(1);
    border-radius: var(--tab-radius);
    corner-shape: var(--corner-shape);
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.4),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6);
  }

  .mod-root .workspace-tab-header:not(.is-active) {
    transform: translateY(4px);
    box-shadow: 0 0 0 calc(var(--border-width) * 0) var(--bb-border-color);
    transition: border-width 0.2s ease;
  }

  .mod-root .workspace-tab-header:not(.is-active):hover {
    background-color: var(--bb-elements-bg);
    box-shadow: 0 0 0 var(--border-width) var(--bb-border-color);
    padding: 2px;
    transform: translateY(1px) scale(0.9);
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.4),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6);
  }

  .mod-root .workspace-tab-header:not(.is-active):active {
    background-color: var(--bb-elements-bg);
    box-shadow: 0 0 0 var(--border-width) var(--bb-border-color);
    transform: translateY(1px) scale(0.8);
  }

  &.theme-dark .workspace-tab-header:not(.is-active):hover,
  &.theme-dark .workspace-tab-header:not(.is-active):active {
    filter: brightness(1.4);
  }

  &.theme-light .workspace-tab-header:not(.is-active):hover,
  &.theme-light .workspace-tab-header:not(.is-active):active {
    filter: brightness(1.1);
  }

  .workspace-tab-header-container .workspace-tab-header {
    margin-left: 0 !important;
  }
}

body.tab-float.apply-to-sidebar {
  .mod-left-split .workspace-tab-header,
  .mod-right-split .workspace-tab-header {
    border-radius: var(--tab-radius);
    corner-shape: var(--corner-shape);
    margin-top: 2px !important;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.2),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6) !important;
  }

  .mod-left-split .workspace-tab-header.is-active,
  .mod-right-split .workspace-tab-header.is-active {
    margin-bottom: 6px;
    padding: 2px 3px;
    transform: translateY(0px) scale(1) !important;
    border-radius: var(--tab-radius);
    corner-shape: var(--corner-shape);
    background-color: var(--bb-elements-bg) !important;
    box-shadow: 0 0 0 var(--border-width) var(--border-color);
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.2),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6) !important;
  }

  .mod-left-split .workspace-tab-header:not(.is-active),
  .mod-right-split .workspace-tab-header:not(.is-active) {
    transform: translateY(4px);
    box-shadow: 0 0 0 calc(var(--border-width) * 0) var(--bb-border-color);
    transition: border-width 0.2s ease;
  }

  .mod-left-split .workspace-tab-header:not(.is-active):hover,
  .mod-right-split .workspace-tab-header:not(.is-active):hover {
    background-color: var(--bb-elements-bg);
    box-shadow: 0 0 0 var(--border-width) var(--bb-border-color);
    transform: translateY(-2px) scale(0.9) !important;
    transition: background-color 0.2s ease, box-shadow 0.2s ease,
                transform 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.4),
                padding 0.4s cubic-bezier(0.2, 0.9, 0.4, 2.1),
                margin 0.4s cubic-bezier(0.2, 0.9, 0.4, 1.6);
  }

  .mod-left-split .workspace-tab-header:not(.is-active):active,
  .mod-right-split .workspace-tab-header:not(.is-active):active {
    background-color: var(--bb-elements-bg);
    box-shadow: 0 0 0 var(--border-width) var(--bb-border-color);
    transform: translateY(1px) scale(0.8) !important;
  }

  .mod-left-split .workspace-tab-header-container-inner,
  .mod-right-split .workspace-tab-header-container-inner {
    width: 100%;
    padding-left: 4px;
  }
}


/* tab float sidebar toggle button adjustments */
body.tab-float {
    .workspace-ribbon.side-dock-ribbon.mod-left:not(.is-collapsed)::before {
        transform: translateX(5px);
    }
    .workspace-ribbon.is-collapsed.mod-left::before {
        background-color: var(--ribbon-background-collapsed) !important;
    }
}

body.tab-float.sharp-tiptip .workspace-tab-container {
    border-radius: calc(var(--modal-radius) + 0px) !important;
}