/* reset bases suggestion item animations */
.bases-toolbar-menu-container 
.bases-toolbar-menu-item.is-selected {
  margin: 0 !important;
  margin-right: 0 !important;
  animation: none;
}

/* undim on hover */
body:not(.disable-bases-undim) {
    .bases-header {
        opacity: 0.5;
        transition: all 0.2s ease;
    }
    .bases-header:hover {
        opacity: 1;
    }
}

/* hide bases labels */
.hide-bases-labels .bases-toolbar-item .text-icon-button .text-button-label {
    display: none !important;
}

body {
    --bases-table-row-height: 40px;
    --metadata-input-padding: 20px 8px;
    --bases-table-font-size: var(--font-ui-medium);
}