/* 
canvas-sharp-cards
 */

 /* ===== CANVAS ===== */

.canvas-node[data-shape="pill"] .canvas-node-container {
    border-radius: 30px;
}

.canvas-sharp-cards .canvas-node-container {
    border: 2.5px solid rgb(var(--canvas-color)) !important;
    border-radius: 0;
}

.canvas-control-group {
    border-radius: 0;
    border-top-left-radius: var(--radius-l) !important;
    border-bottom-left-radius: var(--radius-l) !important;
    margin-right: -8px;
    border: 2px solid var(--background-modifier-border);
}

.canvas-control-item {
    transition: all calc(var(--animation-duration) * 1) cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 8px 10px;
    background-color: var(--titlebar-background) !important;
}

.canvas-control-item:hover {
    transform: scale(1.2);
    color: var(--color-accent-1) !important;
    background-color: hsl(var(--interactive-accent-hsl), 0.2);
    background-color: var(--background-secondary-alt) !important;
}

.canvas-control-item:active {
    transform: scale(1);
    color: var(--color-accent-1) !important;
    background-color: hsl(var(--interactive-accent-hsl), 0.2);
}

.canvas-card-menu-button.mod-draggable:hover {
    transition: all calc(var(--animation-duration) * 1) ease-out !important;
    transform: scale(1.2) translateY(0) !important;
}

.canvas-card-menu {
    padding: 6px 10px;
    border-radius: var(--touch-radius-m);
    corner-shape: var(--corner-shape);
    opacity: 0.6;
    margin-bottom: -10px;

    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.canvas-card-menu:hover {
    padding: 6px 10px;
    border-radius: var(--touch-radius-m);
    corner-shape: var(--corner-shape);
    opacity: 1;
    margin-bottom: 0px;
}

/* ===== CANVAS STYLING ===== */
.theme-light,
.theme-dark {
    --canvas-color-6: 172, 124, 196;
    --canvas-color-5: 105, 147, 194;
    --canvas-color-4: 87, 147, 100;
    --canvas-color-3: 255, 221, 140;
    --canvas-color-2: 229, 156, 88;
    --canvas-color-1: 215, 97, 76;
}

.canvas-node:not(.is-themed) .canvas-node-container {
    border-color: var(--background-modifier-border) !important;
}

.canvas-edges > g:not(.is-themed) path.canvas-display-path {
    stroke: var(--background-modifier-border) !important;
}

/* .canvas-edges > g:not(.is-themed) marker path {
    fill: var(--background-modifier-border) !important;
    stroke: var(--background-modifier-border) !important;
} */

body.theme-dark {
    --canvas-color: 62, 70, 83 !important;
}

.canvas-node-container {
    border: 2.5px solid rgb(var(--canvas-color)) !important;
    border-radius: 10px;
}

.canvas-node-content.markdown-embed
    > .markdown-embed-content
    > .markdown-preview-view {
    font-size: 1.5em !important;
}

.canvas-node.is-themed .canvas-node-content {
    background-color: rgb(var(--canvas-color), 0.26) !important;
}




/* canvas node animation */

.canvas-node .canvas-node-container {
    transform: scale(1);
    transition: all 0.2s ease-out;
}
.canvas-node:hover .canvas-node-container {
    transform: scale(1.05);
}
.canvas-node:active .canvas-node-container {
    transform: scale(1);
}


.canvas-node.is-focused .canvas-node-container {
  animation: scale-bounce 0.4s ease-out both;
}

@keyframes scale-bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}




